---
import arrow from "../../assets/arrow.svg";
---

<div class="font-cursive rotate-[5deg] absolute bottom-[1.5vw] right-[-11vw] text-[1.5vw] w-[8vw]">
  click me!
  <img src={arrow.src} alt="Arrow" class="relative scale-x-[-1] -left-[2vw] bottom-[0.5vw]" />
</div>
