---
import arrow from "../../assets/arrow.svg";
---

<div class="absolute left-[4vw] top-[23vw] text-[1.5vw] font-cursive transform rotate-[-20deg]">
  contact me!
  <img
    src={arrow.src}
    alt="Arrow"
    class="absolute top-[2.5vw] left-0 transform scale-[0.8] rotate-[15deg]"
  />
</div>
