---
import PhoneSupport from "./PhoneSupport.astro";
import ContactMe from "./ContactMe.astro";
import Phone from "./Phone.astro";
---

<section>
  <ContactMe />
  <PhoneSupport />
  <Phone />
</section>
