---
import PhoneContent from "./PhoneContent.jsx";
---

<a
  href={"https://wa.me/5491158056691?text=I%20saw%20your%20portfolio%20and%20I%20want%20to%20get%20in%20touch"}
  target={"_blank"}
  rel={"noreferrer"}
>
  <PhoneContent client:load />
</a>
