@import "tailwindcss";

@theme {
    --color-background: #0F111A;
    --color-stroke: #EEFFFF;
    --color-secondary-stroke: #C6D2D2;

    --font-cursive: 'Fuzzy Bubbles', cursive;
    --font-sans: 'DM Sans Variable', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-krona: 'Krona One', sans-serif;
    --font-orbitron: 'Orbitron Variable', sans-serif;
    --font-monterrat: 'Montserrat Variable', sans-serif;
}

