---
import Coder from "./coder/Coder.astro";
import PhoneSection from "./phone/PhoneSection.astro";
import ComputerSection from "./computer/ComputerSection.astro";
import LeftDrawerSection from "./left-drawer/LeftDrawerSection.astro";
import RightDrawerSection from "./right-drawer/RightDrawerSection.astro";
---

<main>
  <Coder />
  <ComputerSection />
  <PhoneSection />
  <LeftDrawerSection />
  <RightDrawerSection />
</main>
