<div class="h-full flex items-end justify-end relative">
  <div
    class="border-secondary-stroke font-sans rounded border-[.25vw] py-[.25vw] px-[1vw] h-[15%] w-[12.8vw] mr-[1.2vw] absolute left-[.7vw] flex items-center gap-[1vw] text-[1.4vw] leading-none"
  >
  </div>
  <div
    class="flex items-center border-secondary-stroke rounded border-[.25vw] h-[15%] w-[12vw] absolute left-[1vw] bottom-[2.2vw] px-[1vw] gap-[1vw]"
  >
  </div>
  <div
    class="border-secondary-stroke rounded border-[.25vw] h-[15%] w-[11.5vw] absolute left-[1vw] bottom-[4.4vw]"
  >
  </div>
  <div
    class="border-secondary-stroke rounded border-[.25vw] h-[15%] w-[12vw] absolute left-[.8vw] bottom-[6.6vw]"
  >
  </div>
  <div
    class="border-secondary-stroke rounded rotate-12 border-[.25vw] h-[80%] w-[2vw] absolute right-[1.1vw]"
  >
  </div>
</div>
