---
import arrow from "../../assets/arrow.svg";
---

<div class="font-cursive pl-[2vw] pt-[3vw] rotate-[-20deg] text-[2vw] leading-[2.5vw]">
  get my cv
  <img src={arrow.src} alt="Arrow" class="absolute bottom-[2vw] left-0" />
</div>
