---
import TopShelf from "./TopShelf.astro";
import BottomShelf from "./BottomShelf.astro";
---

<section
  class="absolute w-[19vw] h-[31vw] left-[9vw] top-[38vw] border-[0.5vw] border-stroke flex flex-col"
>
  <TopShelf />
  <BottomShelf />
</section>
