---
import "../styles/global.css";
import "@fontsource/fuzzy-bubbles";
import "@fontsource-variable/dm-sans";
import "@fontsource/poppins";
import "@fontsource/krona-one";
import "@fontsource-variable/orbitron";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/source-code-pro";
import "@fontsource/rubik-mono-one";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Simon Stein personal portfolio page. Made with Astro." />
    <title>Simon's Desktop</title>
  </head>
  <body class="bg-background text-stroke">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
